
<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <script type="text/javascript" src="jquery-4.4.0.js"></script>


        <title>Fangorn</title>
        <link rel="icon" type="image/x-icon" href="/Users/aimery/Desktop/THP/J5/good/assets/img/Iconsmind-Outline-Tree-22.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="app/assets/stylesheets/application.scss" rel="stylesheet" />


    </head>



    <body id="page-top">



        <!-- Navigation-->
        <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="#about">À propos</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="#projects">Articles</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--PERSONAL SCRIPT JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
        });

        </script>

        <!-- Masthead-->
        <header class="masthead">

            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">fangorn</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Quelle forêt dans une France à +2° ?</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Découvrir</a>
        


                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Pour une nouvelle alliance avec le bois !</h2>
                        <p class="text-white-50">
                            Les arbres sont de véritables alliées pour lutter contre le réchauffement climatique,
                            doper l'agriculture en refertilisant les sols, relancer la biodiversité, purifier l'air ou même fournir un matériau du futur. Le temps d'une nouvelle alliance avec eux est venu !
                        </p>
                    </div>
                </div>
                <%= link_to image_tag("niko-photos-tGTVxeOr_Rs-unsplash-removebg-preview.png"), root_path %>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">

                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="../abouttree.png" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4>
                                    <%= link_to "Objectif : 1 Milliard", "/articles/new", class: "text-white" %></h4>
                                    <p class="mb-0 text-white-50">Planter 1 Milliard d'hectars d'arbres permettrait de retirer les deux tiers du CO2 rejetés dans l'atmosphère par l'homme. Comment atteindre un tel objectif ?</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                   <div class="col-lg-6"><img class="img-fluid" src="../aboutt.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4>
                                    <%= link_to "Pour sauver la planète, coupons des arbres !", "/blags/new", class: "text-white" %></h4>
                                    <p class="mb-0 text-white-50">Plaidoyer pour une mobilisation intelligente des ressources forestières.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project three Row-->

                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="../sawing.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4>
                                    <%= link_to "Scieries & première transformation", "/articles/show", class: "text-white" %></h4>
                                    <p class="mb-0 text-white-50">Déclin des scieries francaises : l'arbre qui cache la forêt ?</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project four Row-->
                <div class="row justify-content-center no-gutters">
                   <div class="col-lg-6"><img class="img-fluid" src="../builder.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4>
                                    <%= link_to "La deuxième transformation & l'aval de la filière", "/blags/show", class: "text-white" %></h4>
                                    <p class="mb-0 text-white-50">Les industries de seconde transformation du bois dans la tourmente.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </section>

        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Ne ratez pas notre prochain article ! Abonnez-vous à notre newsletter :</h2>

                        <form action= <%= usercrea_path %> method="POST" class="form-inline d-flex">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="gossip_text" type="email" placeholder="Entrez votre adresse mail..." />
                            <button class="btn btn-primary mx-auto" type="submit">S'inscrire</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Adresse</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">76 rue Jouffroy d'Abbans, Paris, France</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="aimerycayol@gmail.com">projetfangorn@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Téléphone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+33665488525</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Fangorn</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="app/assets/javascripts/material/scripts.js"></script>
    </body>
</html>
